<div id="<%= dom_id inventory_item %>">
  <p>
    <strong>Name:</strong>
    <%= inventory_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory_item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= inventory_item.price %>
  </p>

</div>
