<p style="color: green"><%= notice %></p>

<%= render @inventory_item %>

<div>
  <%= link_to "Edit this inventory item", edit_inventory_item_path(@inventory_item), class:"btn btn-primary mb-3" %>
  <%= link_to "Back to inventory items", inventory_items_path,class: "btn btn-secondary mb-3" %>

  <%= button_to "Destroy Item", @inventory_item, method: :delete,class:"btn btn-danger" %>
</div>
